

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 
  @apply font-['Oswald']  bg-slate-100
}

h1{
  @apply font-['Oswald']
}

::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4cfe9; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ad9b9b; 
}
 